# single letter aliases
alias a="$EDITOR ~/.aliases; exec zsh"
alias b="sudo brightnessctl i"
alias c=" clear"
alias d="date +%r | figlet -t -f 'ANSI Shadow'"
alias e="exit"
#alias f=
#alias g=
alias h="history"
#alias i=
#alias j=
#alias k=
alias l="exa --long"
#alias m=
alias n="nnn"
#alias o=
#alias p=
alias q="qalc"
alias r="run_cmd.sh"
#alias s=
alias t="task"
#alias u=
alias v="$EDITOR"
#alias w=
#alias x=
#alias y=
alias z='zathura --fork'

# directory navigation
alias dot="cd ~/.dotfiles"
alias dl="cd ~/dl/"
alias repos="cd ~/repos"
alias docs="cd ~/docs/"
alias img="cd ~/img"
alias dirs="dirs -v"

# editor commands
alias wm="$EDITOR ~/.config/i3/config"
alias wms="$EDITOR ~/.config/i3/i3status/config"
alias nv="$EDITOR ~/.config/nvim/"
alias rc="$EDITOR ~/.zshrc; exec zsh"

alias za="z *.pdf"
alias exa="exa --git --group-directories-first"
alias ls="exa "
alias ll="exa -laa"
alias rmrf="rm -rf"
alias nf="neofetch"
alias ff="firefox"
alias cat="batcat"
alias cx="chmod +x"
alias bt="bluetoothctl"
alias hg="history | grep"
alias say='figlet -t -f "ANSI Shadow"'
alias saybigger="figlet -t -f ~/.local/etc/figlet/doh.flf"
alias clip="xclip -selection c"
alias gg="lazygit"
alias ez="exec zsh"
alias cl="clear;l"
alias grvw="gh repo view --web" # repo web view
alias maxb="sudo brightnessctl set 255"
alias minb="sudo brightnessctl set 10"

# python
alias py="python3"
alias python="python3"
alias vc="python3 -m venv venv"
alias va=". venv/bin/activate"
alias vde="deactivate"
alias pir="pip install -r requirements.txt"
alias ipy="ipython --TerminalInteractiveShell.editing_mode=vi"
alias jl="jupyter lab"

# tmux
alias ta="tmux attach"
alias tk="tmux kill-session -t" # -t requires a name so press TAB to select from active sessions
alias ts="tmux-sessionizer"
alias td="tmux-dotfiles"
alias tn="tmux new-session -s $(pwd | sed 's/.*\///g') -c $(pwd)" # make a new tmux session in the current dir

# conversion
alias pptx2pdf="soffice --headless --convert-to pdf"
alias clip2png="xclip -selection clipboard -t image/png -o >"

alias caps="setxkbmap -option caps:swapescape"

# nix
alias ne="nix-env"
alias nelg="nix-env --list-generations"
